/* Top panel : #navbar, #toolbar */
/* Navigation menu bar that appear at the top */
/* height needed to avoid extra bottom border */
/* toolbar containing small icons for tools */
/* main menu items */
/* Middle panel: containing #image_panel, #leftsidebar */
/* layers of canvas */
/* image buffer
#image_panel .fadein { visibility:visible; opacity:1; transition: visibility 0s linear 0s, opacity 300ms; }
#image_panel .fadeout { visibility:hidden; opacity:0; transition: visibility 0s linear 300ms, opacity 300ms; }
*/
/* image grid view */
/* Left sidebar accordion */
/* Keyboard shortcut panel */
/* buttons */
/* Attributes properties: name, description, type, ... */
/* Attributes options: options for attribute type={checkbox,radio,...} */
/* overlay panel used to gather user inputs before invoking a function using invoke_with_user_inputs() */
/* Attribute editor */
/* Region shape selection panel inside leftsidebar */
/* cursor coordinates inside region shape selection panel in leftsidebar */
/* Loaded image list shown in leftsidebar panel */
/* Loading spinbar */
// @-webkit-keyframes "spin" {
// 	0% {
// 		-webkit-transform: rotate(0deg);
// 	}
// 	100% {
// 		-webkit-transform: rotate(360deg);
// 	}
// }
// @keyframes "spin" {
// 	0% {
// 		transform: rotate(0deg);
// 	}
// 	100% {
// 		transform: rotate(360deg);
// 	}
// }
/* project settings */
/* page {about, help, file not found, etc.} */
/* this class is used to clear the display area content */
body {
	min-width: 200px;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
* {
	box-sizing: border-box;
}
input[type=text] {
	border: 1px solid #cccccc;
	margin: 0.6rem 0;
	padding: 0.2rem 0.4rem;
}
a {
	text-decoration: none;
}
textarea {
	border: 1px solid #cccccc;
	margin: 0.6rem 0;
	padding: 0.2rem 0.4rem;
}
.top_panel {
	font-size: 0.9rem;
	display: block;
	background-color: #212121;
	color: #ffffff;
	z-index: 1001;
	margin-bottom: 1rem;
}
.menubar {
	display: inline-block;
	height: 1.8rem;
	a {
		&:link {
			color: #eeeeee;
			text-decoration: none;
		}
		&:visited {
			color: #eeeeee;
			text-decoration: none;
		}
	}
	ul {
		display: block;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline;
		float: left;
		padding: 0.45rem 1rem;
		&:hover {
			background-color: #616161;
			cursor: default;
			ul {
				display: block;
			}
		}
		ul {
			display: none;
			background-color: #212121;
			border: 1px solid #616161;
			min-width: 10rem;
			position: absolute;
			z-index: 100;
			margin: 0.4rem -1rem;
			li {
				display: block;
				float: none;
				color: #eeeeee;
				margin: 0;
				padding: 0.6rem 1rem;
				&:hover {
					cursor: pointer;
				}
			}
			li.submenu_divider {
				margin: 0 0.4rem;
				padding: 0;
				height: 1px;
				border-bottom: 1px solid #424242;
			}
		}
	}
}
.toolbar {
	display: inline-block;
	margin-left: 1rem;
	svg {
		fill: white;
		margin: 0.2rem 0.1rem;
		height: 1.2rem;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		&:hover {
			fill: yellow;
			cursor: pointer;
		}
		&:active {
			fill: white;
		}
	}
	ul {
		display: inline-block;
		padding: 0.2rem;
		margin: 0;
	}
	li {
		display: inline;
		float: left;
		padding: 0rem 0.3rem;
		border: 1px solid white;
		&:hover {
			color: red;
			cursor: pointer;
		}
	}
}
.middle_panel {
	display: table;
	table-layout: fixed;
	width: 100%;
	z-index: 1;
	padding: 0;
}
#leftsidebar {
	display: none;
	z-index: 10;
	vertical-align: top;
}
#display_area {
	display: table-cell;
	width: 100%;
	z-index: 1;
	margin: 0;
	padding-left: 1em;
	vertical-align: top;
}
#image_panel {
	position: relative;
	outline: none;
	img {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		outline: none;
	}
	canvas {
		position: absolute;
		top: 0px;
		left: 0px;
		outline: 1rem solid;
	}
	.visible {
		visibility: visible !important;
		opacity: 1 !important;
	}
	.invisible {
		visibility: hidden !important;
		opacity: 0 !important;
	}
	label {
		>img {
			visibility: visible;
			opacity: 1;
			position: relative;
			width: auto;
			height: 4em;
			outline: none;
		}
	}
}
#image_grid_panel {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	#image_grid_toolbar {
		display: block;
		font-size: small;
		padding: 0.5rem 0;
		select {
			font-size: small;
		}
		.tool {
			display: inline;
			margin: 0 0.5rem;
		}
	}
	#image_grid_group_panel {
		font-size: small;
		select {
			font-size: small;
		}
		.image_grid_group_toolbar {
			display: inline;
			margin-left: 2rem;
			select {
				margin: 0 0.2rem;
				padding: 0;
				font-size: small;
			}
		}
	}
	#image_grid_nav {
		display: inline;
		font-size: small;
		padding-left: 0.5rem;
		margin-top: 0.2rem;
		span {
			margin: 0 0.2rem;
		}
	}
	#image_grid_content {
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
		outline: none;
		#image_grid_content_img {
			img {
				margin: 0.3em;
				padding: 0;
				border: 0.2em solid #ffffff;
				outline: 0.1em solid #0066ff;
			}
			.not_sel {
				opacity: 0.6;
				outline: none;
			}
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		#image_grid_content_rshape {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
		img {
			float: left;
			margin: 0;
		}
	}
}
#leftsidebar_collapse_panel {
	display: none;
	position: relative;
	z-index: 10;
	vertical-align: top;
}
#leftsidebar_show_button {
	font-size: large;
	margin-left: 0.1rem;
	&:hover {
		color: red;
		cursor: pointer;
	}
}
button.leftsidebar_accordion {
	font-size: large;
	background-color: #f2f2f2;
	cursor: pointer;
	padding: 0.5em 0.5em;
	width: 100%;
	text-align: left;
	border: 0;
	outline: none;
	&:focus {
		outline: none;
	}
	&:hover {
		background-color: #e6e6e6;
	}
	&:after {
		content: '\02795';
		color: #4d4d4d;
		float: right;
	}
}
button.leftsidebar_accordion.active {
	background-color: #e6e6e6;
	&:after {
		content: '\2796';
	}
}
.leftsidebar_accordion_panel {
	display: none;
	padding: 0 0.5em;
	font-size: small;
	border-right: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
	table {
		border-collapse: collapse;
	}
	td {
		border: 1px solid #f2f2f2;
		padding: 0.2rem 0.4rem;
	}
}
.leftsidebar_accordion_panel.show {
	display: block;
}
.button_panel {
	display: inline-block;
	width: 100%;
	margin: 0.2rem 0;
	.text_button {
		color: #0000ff;
		padding: 0.2rem 0.2rem;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		&:hover {
			cursor: pointer;
		}
		&:active {
			color: #000000;
		}
	}
	.flush_right {
		float: right;
	}
	.active {
		border-bottom: 1px solid black;
	}
	.button {
		display: inline-block;
		padding: 0.35rem 0.5rem;
		margin: 0 0.05rem;
		cursor: pointer;
		background-color: #cccccc;
		border-radius: 0.2rem;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		&:hover {
			background-color: black;
			color: white;
		}
	}
}
.text_button {
	color: #0000ff;
	padding: 0.2rem 0.2rem;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	&:hover {
		cursor: pointer;
	}
	&:active {
		color: #000000;
	}
}
#attribute_properties {
	display: table;
	width: 100%;
	border-collapse: collapse;
	margin: 1rem 0;
	border: 1px solid #cccccc;
	.property {
		display: table-row;
		span {
			display: table-cell;
			padding: 0.2rem 0.4rem;
			input {
				width: 100%;
				border: 1px solid #cccccc;
				margin: 0;
				&:focus {
					border: 1px solid black;
				}
			}
			select {
				width: 100%;
				border: 1px solid #cccccc;
				margin: 0;
			}
		}
	}
}
#attribute_options {
	display: table;
	width: 100%;
	border-collapse: collapse;
	margin: 1rem 0;
	border: 1px solid #cccccc;
	table-layout: fixed;
	.new_option_id_entry {
		display: inline-block;
		padding: 1rem 0.2rem;
		input {
			border: none;
			border-bottom: 1px solid #cccccc;
			margin: 0;
			font-size: 0.8rem;
		}
	}
	.property {
		display: table-row;
		span {
			display: table-cell;
			padding: 0.2rem 0.2rem;
			font-weight: bold;
			input[type=checkbox] {
				vertical-align: middle;
			}
			input[type=radio] {
				vertical-align: middle;
			}
		}
		input {
			display: table-cell;
			width: 94%;
			border: none;
			border-bottom: 1px solid #cccccc;
			margin: 0;
			font-size: 0.8rem;
			&:focus {
				border-bottom: 1px solid #000000;
				background-color: #f2f2f2;
				color: #000000;
			}
		}
	}
}
#user_input_panel {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 1002;
	.content {
		position: fixed;
		background-color: white;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		padding: 2rem 4rem;
		.title {
			font-size: large;
			font-weight: bold;
		}
		.user_inputs {
			display: table;
			width: 100%;
			border-collapse: collapse;
			.row {
				display: table-row;
			}
			.cell {
				display: table-cell;
				padding: 1rem 0.5rem;
				vertical-align: middle;
				border: 1px solid #f2f2f2;
			}
		}
		.user_confirm {
			display: table;
			width: 100%;
			text-align: center;
			margin: 2rem 0;
			.ok {
				display: table-cell;
				width: 48%;
			}
			.cancel {
				display: table-cell;
				width: 48%;
			}
		}
		.warning {
			color: red;
		}
	}
}
#annotation_editor_panel {
	position: fixed;
	display: none;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: white;
	border-top: 2px solid #cccccc;
	padding: 0.2em 1em;
	overflow: auto;
	z-index: 1001;
	box-shadow: 0 0 1em #cccccc;
}
#annotation_editor {
	display: table;
	margin-bottom: 3em;
	border-collapse: collapse;
	font-size: inherit;
	position: absolute;
	background-color: white;
	.row {
		display: table-row;
	}
	.highlight {
		.col {
			background-color: #e6e6e6;
		}
	}
	.col {
		display: table-cell;
		padding: 0.4em 0.6em;
		border: 1px solid #000000;
		vertical-align: middle;
		font-size: inherit;
		input[type=checkbox] {
			vertical-align: middle;
		}
		input[type=radio] {
			vertical-align: middle;
			font-size: inherit;
		}
		label {
			vertical-align: middle;
			font-size: inherit;
		}
		textarea {
			border: 0.1em solid #cccccc;
			padding: 0;
			margin: 0;
			font-size: inherit;
			background-color: #ffffff;
			&:focus {
				border: 0.1em dashed #cccccc;
			}
		}
		span {
			display: block;
		}
		horizontal_container {
			display: inline-block;
		}
		.img_options {
			display: inline;
			.imrow {
				display: block;
			}
			span {
				display: inline-block;
				margin: 0.2rem 0.4rem;
				img {
					height: 4em;
				}
			}
			p {
				margin: 0;
				padding: 0;
				font-size: inherit;
			}
			input[type=radio] {
				display: none;
				+ {
					label {
						display: block;
						cursor: pointer;
						text-align: center;
					}
				}
				&:checked {
					+ {
						label {
							border: 0.1em solid black;
							background-color: #cccccc;
							cursor: default;
							font-size: inherit;
						}
					}
				}
			}
		}
	}
	.header {
		font-weight: bold;
	}
	.id {
		font-weight: bold;
	}
}
#project_info_panel {
	display: table;
	border-collapse: collapse;
	font-size: 0.8rem;
	.row {
		display: table-row;
	}
	.col {
		display: table-cell;
		padding: 0.4rem 0.1rem;
		border: none;
		input[type=text] {
			font-size: 0.8rem;
			border: none;
			border-bottom: 1px solid #cccccc;
			margin: 0;
			width: 100%;
		}
		input {
			&:focus {
				border-bottom: 1px solid #000000;
				background-color: #f2f2f2;
				color: #000000;
			}
		}
	}
}
ul.region_shape {
	font-size: xx-large;
	list-style-type: none;
	overflow: hidden;
	padding: 0.4em 0;
	margin: 0;
	li {
		float: left;
		padding: 0 0.2em;
		fill: #ffffff;
		stroke: #000000;
		&:hover {
			cursor: pointer;
			fill: #ffffff;
			stroke: #ff0000;
		}
	}
	.selected {
		fill: #ffffff;
		stroke: #ff0000;
	}
}
#region_info {
	font-size: 0.8em;
	margin-bottom: 0.4em;
}
#img_fn_list {
	display: none;
	font-size: small;
	overflow: scroll;
	min-height: 10rem;
	max-height: 25rem;
	ul {
		position: relative;
		line-height: 1.3em;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		white-space: nowrap;
		display: block;
		padding: 0 0.4rem;
		&:hover {
			background-color: #d5e5ff;
			cursor: pointer;
		}
	}
	.error {
		color: red;
	}
	.sel {
		border-left: 0.2rem solid black !important;
		font-weight: bold;
	}
	.buffered {
		border-left: 0.2rem solid #cccccc;
	}
}
#message_panel {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 9999;
	text-align: center;
	.content {
		display: inline;
		margin: auto;
		background-color: #000000;
		color: #ffff00;
		font-size: small;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 2rem;
		padding: 0.5rem 2rem;
	}
}
.text_panel {
	display: none;
	margin: auto;
	font-size: medium;
	line-height: 1.3em;
	margin: 0;
	max-width: 700px;
	li {
		margin: 1em 0;
		text-align: left;
	}
	p {
		text-align: left;
	}
}
.svg_button {
	&:hover {
		cursor: pointer;
	}
}
.loading_spinbox {
	display: inline-block;
	border: 0.4em solid #cccccc;
	border-radius: 50%;
	border-top: 0.4em solid black;
	border-bottom: 0.4em solid black;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
#invisible_file_input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.display_none {
	display: none !important;
}
.display_block {
	display: block !important;
}
#settings_panel {
	font-size: 1rem;
	border-collapse: collapse;
	width: 95%;
	a {
		border: 1px solid #f2f2f2;
	}
	.row {
		display: table-row;
		border-bottom: 1px solid #f2f2f2;
	}
	.variable {
		display: table-cell;
		width: 60%;
		padding: 0.5rem 0.5rem;
		div {
			display: block;
		}
		.desc {
			font-size: 0.7em;
			color: #808080;
			padding: 0.2rem 0rem;
		}
	}
	.value {
		display: table-cell;
		vertical-align: middle;
		padding-left: 1rem;
	}
}
.narrow_page_content {
	li {
		font-size: 0.9rem;
		margin: 0.4rem 0;
	}
	width: 60%;
}
.force_small_font {
	font-size: small !important;
}
.key {
	font-family: monospace;
	padding: 1px 6px;
	background: linear-gradient(to bottom,#f0f0f0,#fcfcfc);
	border: 1px solid #e0e0e0;
	white-space: nowrap;
	color: #303030;
	border-bottom-width: 2px;
	border-radius: 3px;
	font-size: 1.2em;
}
